<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="fragments/head :: head"></head>
<body class="bg-dark text-white">

<!-- menu -->
<div th:replace="fragments/menu :: menu"></div>

<main class="container text-center my-5">
    <div class="card bg-dark border-light shadow-sm p-5">
        <h1 class="fw-bold mb-3 text-light">Sistema de Matrícula</h1>
        <p class="lead text-secondary">Escolha uma das opções do menu acima para começar.</p>
    </div>
</main>

</body>
</html>
